body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

.header-main {
    font-weight: normal;
    font-size: 50px;
    color: white;
    
} 