body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

/* HEADING */
.header-main {
    font-weight: normal;
    font-size: 50px;
    color: white;
} 

.header-secondary {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.header-subheader {
    font-size: 21px;
    color: gray;

}

/* LINKS */
.link-cta {
    color: aquamarine;
    font-size: 16px;
}

